<html>

<head>
    <title>Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" style="color:cornsilk" href="/">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:cornsilk" href="/searchlist">Search</a>
            </li>
            <li class="nav-item">
					<a class="nav-link" style="color:cornsilk" href="/elasticsearch">Elastic Search</a>
			</li>
        </ul>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <form action="/submit" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">User Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
                </div>
                <div class="form-group">
                    <label for="resume">Upload resume</label>
                    <input type="file" name="file" class="form-control-file" id="resume" required>
                </div>
                <input type="submit" class="btn btn-success" value="Submit">
                <br/>
                <br/>
                {% if candidateExists %}
                <h4 style="color:crimson">You are already Registered with us !!</h4>
                {% endif %}
                {%if successfulSubmit %}
                <h4 style="color:rgb(16, 146, 4)">Successfully Registered !!</h4>
                {% endif %}
            </form>
            <div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>